// base styles

:root{
    --color-primary-1: hsl(0, 78%, 62%); // Red
    --color-primary-2: hsl(180, 62%, 55%); // Cyan
    --color-primary-3: hsl(34, 97%, 64%); // Orange
    --color-primary-4: hsl(212, 86%, 64%); // Blue
    --color-neutral-1: hsl(234, 12%, 34%); // Very Dark Blue
    --color-neutral-2: hsl(229, 6%, 66%); // Grayish Blue
    --color-neutral-3: hsl(0, 0%, 98%); // Very Light Gray
    --font-weight-light: 200;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: var(--font-weight-normal, 400);
    margin: 0;
    color: var(--color-neutral-1);
}
h1, h2, h3 {
    margin: 0;
}
h3 {
  font-size: 1.25rem;  
}
p {
    margin: 0;
}