@media (max-width: 375px) { 
    .row:nth-child(n){
        display: flex;
        align-items:unset !important;
    }
    .head-1 {
        font-size: 1.58rem !important;
        
    }
    .head-2{
        font-size: 1.6rem !important;
        
    }
}
// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
  
    .row:nth-child(n){
        display: flex;
        align-items:unset !important;
    }
    .row {
        justify-content:unset !important;
    }
    
 }
 @media (max-width: 1440px) { 
    .row:nth-child(n){
        display: flex;
        align-items: center !important;
    }
    .row {
        justify-content: center !important;
    }
    
    .head-1 {
        font-size: 2.33rem;
        text-align: center;
        
    }
    .head-2{
        font-size: 2.33rem;
        text-align: center;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }
}