// section styles
.main {
    width: 100%;
    background-color:var(--color-neutral-3);
    padding: 78px 0px 80px 0px;
}
.header {
   
    margin-bottom: 69px;

    .head-1 {
        font-family: Poppins;
        font-weight: var(--font-weight-light, 200);
       
        // line-height: 52px; // 3.5rem
        /* identical to box height */
        letter-spacing: 0.5px;
        color:  var(--color-neutral-2);
    }
    .head-2{
        font-family: Poppins;
        font-weight: var(--font-weight-bold, 700);
        
        // line-height: 52px; // 3.5rem
        /* identical to box height */
        letter-spacing: 0.5px;
        margin-bottom: 18px;
        color:  var(--color-neutral-1);
    }
    p {
        font-family: Poppins;
        font-weight: var(--font-weight-normal, 700);
        
        line-height: 24px; // 1.47rem
        color:  var(--color-neutral-2);
        
    }
}
%card {
    height: 253px;
    background-color: white;
    display: flex;
    flex-flow: column;    
    border-radius: 7px;
    -webkit-box-shadow: 0px 10px 20px var(--color-neutral-shadow);
    box-shadow: 0px 10px 20px var(--color-neutral-shadow);
    

}
.card-title {
    font-size: 1.27rem; // 19px
}
.supervisor{
    @extend %card;
    border-top: 4px solid var(--color-primary-2, cyan);

}
.team-builder {
    @extend %card;
    border-top: 4px solid var(--color-primary-1, red);
}
.kamra {
    @extend %card;
    border-top: 4px solid var(--color-primary-3, orange);  
}
.calculator {
    @extend %card;
    border-top: 4px solid var(--color-primary-4, blue);
}

.card-text {
    font-size: 0.86rem;
    color: var(--color-neutral-2);
    text-align: left;
}
.card-img {
    width: 64px;
    height: 64px;
    align-self: flex-end;

}

