// section styles


.main {
    width: 100%;
    height: 100vh;
    background-color:var(--color-neutral-3);
    padding: 78px 0px 80px 0px;
}
.header {
    text-align: center;
    margin-bottom: 69px;

    .head-1 {
        font-family: Poppins;
        font-weight: var(--font-weight-light, 200);
        font-size: 35px; //2.33rem
        line-height: 52px; // 3.5rem
        /* identical to box height */
        letter-spacing: 0.5px;
        color:  var(--color-neutral-2);
    }
    .head-2{
        font-family: Poppins;
        font-weight: var(--font-weight-bold, 700);
        font-size:35px; //2.33rem
        line-height: 52px; // 3.5rem
        /* identical to box height */
        letter-spacing: 0.5px;
        margin-bottom: 18px;
        color:  var(--color-neutral-1);
    }
    p {
        font-family: Poppins;
        font-weight: var(--font-weight-normal, 700);
        font-size: 15px;
        line-height: 24px; // 1.47rem
        color:  var(--color-neutral-2);
    }
}

